#BASE
NODE_ENV=production
BASE_URL='https://api-d.xplorin.id'

#DATABASE
DATABASE_HOST=__FILL_HERE__
DATABASE_PORT=5432
DATABASE_USERNAME=__FILL_HERE__
DATABASE_PASSWORD=__FILL_HERE__
DATABASE_NAME=__FILL_HERE__

#FIREBASE
GOOGLE_APPLICATION_CREDENTIALS=__FILL_HERE__
GOOGLE_STORAGE_BUCKET_NAME=__FILL_HERE__

# EMAIL
# MAIL_SECURE true for 465, false for other ports
MAIL_HOST=__FILL_HERE__
MAIL_PORT=__FILL_HERE__
MAIL_SECURE=__FILL_HERE__
MAIL_USER=__FILL_HERE__
MAIL_PASS=__FILL_HERE__
MAIL_FROM='"Xplorin" <no-reply@xplorin.id>'

#XENDIT
XENDIT_API_GATEWAY_URL=https://api.xendit.co
XENDIT_API_KEY=__FILL_HERE__
XENDIT_CALLBACK_TOKEN=__FILL_HERE__

#HOTELS API
HOTELS_API_KEY=
HOTELS_SECRET=
HOTELS_BASE_URL=https://api.test.hotelbeds.com
HOTELS_BASE_LIVE_URL=https://api.hotelbeds.com
HOTELS_API_PATH=/hotel-api/1.0
HOTELS_CONTENT_API_PATH=/hotel-content-api/1.0
HOTELS_CONTENT_TYPES_API_PATH=/hotel-content-api/1.0/types
HOTELS_ACTIVITIES_API_PATH=/activity-api/3.0/
HOTELS_GEOLOCATION_RADIUS=
HOTELS_GEOLOCATION_UNIT=
HOTELS_LIST_LIMIT=
ADMIN_HOTEL_LIST_LIMIT=

#NETZME
NETZME_API_BASE_URL=__FILL_HERE__
NETZME_API_USERNAME=__FILL_HERE__
NETZME_API_PASSWORD=__FILL_HERE__

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_AUTH=