label[for="xdt-checkout-bank_transfer"],
#payment-channel-list-bank-transfer {
    display: none;
}

label[for="xdt-checkout-retail_outlets"],
#payment-channel-list-retail-outlets {
    display: none;
}

label[for="xdt-checkout-ewallet"],
#payment-channel-list-ewallet {
    display: none;
}

/* label[for="xdt-checkout-credit_card"] {
    pointer-events: none;
} */

/* always display cc */
#payment-channel-list-credit-card {
    max-height: none;
}

/* remove powered by */
#__next > div > div:last-child {
    display: none;
}

/* remove product info */
#__next > div > div.font-sans.text-gray-500 {
    display: none;
}

/* remove header */
#__next > div > div.px-4.py-2.sm\:px-20.md\:px-lg.sm\:py-5.flex.justify-start.items-center.bg-primary {
    display: none;
}

/* remove amount */
#__next > div > div.mx-4.sm\:mx-20.md\:mx-lg > div.py-8.text-center {
    display: none;
}

#__next > div > div.mx-4.sm\:mx-20.md\:mx-lg{
    margin: 0;
}